* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

ul, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #1d1d1d;
}

.wrap {
    width: 100%;
}